$primary-color: #7ebc6f;
$secondary-color: #55834a;
$error-color: #EA5C5C;

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
}

button:hover {
  background-color: $primary-color;
  color: white;
}

button:disabled {
  background-color: lightgrey;
  color: black;
}

input[type="text"], input[type="number"], textarea, select {
  border: 2px solid $primary-color;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  width: 100%;
}

input::placeholder, textarea::placeholder {
  color: lightgrey;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
  padding-bottom: 12px;
}

.field label {
  text-align: left;
}

.field span {
  color: $error-color;
  text-align: left;
}

.field-label {
  display: flex;
  flex-direction: row;
}


.dialog {
  position: fixed;
  z-index: 100;
  background-color: white;
  overflow-y: auto;
  font-size: 16px;
  padding: 12px;
}

.close-button {
  float: right;
  cursor: pointer;
}

.section {
  margin-bottom: 6px;
  text-align: left;
}

.dialog-title {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.link-icon {
  margin-left: 2px;
  padding-top: 2px;
}

.external-link {
  display: flex;
  flex-direction: row;
}
